body {
    font-size: 1em;
    font-family: "Arial";
    background-color: #fff;
    min-width: 1200px;
    padding: 0;
    margin: 0;
    display: block;
}

.wrapper {
    width: 1200px;
    background-color: #fff;
    z-index: 1;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}


.title {
    font-size: 2.5em;
    color: #373028;
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 8px;
}

.center {
    text-align: center;
}

ul {
    display: block;
    list-style-type:none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
/*top buttons styling*/

button {
    border: 2px solid #cecece;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin: 0 5px 0px 0;
    display: inline;
    text-decoration: underline solid #432912;
    font-size: 16px;
    cursor: pointer;
}

.nav ul li{
    display: inline-block;
    list-style: none;
}

.nav ul {
    display: inline-block;
}

.nav .top-buttons {
    display: inline-block;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade{
    from{opacity: 0.1}
    to{opacity: 1;}
}

li {
    display: list-item;
    list-style: none;
}

/*inputFrame, ввод кол-ва населения*/

#inputFrame .inhabitants {
    text-align: center;
    margin: 20px 0;
}

#inputFrame .inhabitants ol {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0 0 5px 0;
    zoom: 1;
}

#inputFrame .inhabitants ul li {
    display: inline-block;
}

#inputFrame .inhabitants ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#diffFrame {
    display: none;
}

.cTextwidth {
    width: 80px;
}

.cText {
    font-size: 1em;
    border: 1px solid #cecece;
    outline: 0 none;
}

/*items lists*/

#inputFrame .items {
    text-align: center;
    margin-bottom: 10px;
}

#inputFrame .items ol {
    list-style: none;
    display: inline-block;
    margin: 0 2px;
    padding: 2px;
    border: 1px solid #cecece;
    zoom: 1;
}

/*командная строка справа*/

.floatright {
    float: right;
}

.cmd ol {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
}

.cmd ol li:first-child {
    padding-left: 0px;
}
.cmd ol li {
    float: left;
    padding-left: 5px;
}

.button_2,
.button_2__calculate {
    height: 33px;
    cursor: pointer;
}

.button_2_left {
    float: left;
    height: 33px;
    width: 14px;
    background: url(../images/buttons/button_1_left.png);
}

.button_2_center {
    float: left;
    font-size: 0.75em;
    color: #432912;
    font-weight: bold;
    line-height: 33px;
    background: url(../images/buttons/button_1_center.png);
}

.button_2_right {
    float: left;
    height: 33px;
    width: 14px;
    background: url(../images/buttons/button_1_right.png);
}

h1 {
    font-size: 1.5em;
    color: #373028;
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

h2 {
    font-size: 1em;
    color: #373028;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

/*собственно результаты подсчета*/

.bordertable {
    margin: 0 auto;
    width: 100%;
}

.bordertable th {
    text-align: right;
}

.bordertable td {
    border: 1px solid #cecece;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

::placeholder {
    color: black;
}

a {
    z-index: -1;
}

.pcDisplay {
    border: 1px solid #cecece;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    min-height: 100px;
}

.pcDisplay button {
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}

.single-chain {
    margin-top: 50px;
}

.pcDisplay div ol {
    display: inline-block;
    padding: 0;
}